/*
* Krissy Kanu
* 5/13/19
* box model */

/* The universal selector */

* {margin: 0;
   padding: 0;}

/* Body properties here */

body {width: auto;
      border: 3px dashed black;
      padding: 20px;
      margin: auto;}


main {width: auto;
      border: 3px solid black;
      padding: 20px;
      margin: auto;}

h1 {width: auto;
    border: 1px dashed black;
    padding: 10px;
    margin: 10px;}

p {width: auto;
   border: 1px dashed black;
   padding: 10px;
   margin: 10px;}